@Kopernicus:HAS[!AlienSpaceProgramSettings]:FOR[TheDresProject]
{
	#@AlienSpaceProgramSettings {}
}
@Kopernicus:HAS[@AlienSpaceProgramSettings:HAS[#Homeworld[Dres]]]:FOR[TheDresProject]
{

	!Body[Dres]{}

	%Body[Bin]
	{
		//Legacy cbNameLater, needed for some mods
		cbNameLater = Bin
		cacheFile = AlienSpacePrograms/0Miscellany/Cache/WildKerbin.bin
		Debug
		{
			update = true
		}

		Orbit
		{
			referenceBody = Sun
		}

		Template
		{
			name = Kerbin
			//Remove easter eggs, KSC and KSC2 (City), and ground stations (City2)
			//Later I'll try to keep City and just edit KSC and KSC2 to not be ground stations
			removePQSMods = PQSCity,PQSMod_MapDecal,PQSMod_MapDecalTangent,PQSCity2
		}
		Properties
		{
			//displayName replaces cbNameLater for localization support
			//Still works in KSP 1.2 though
			isHomeWorld = False
			displayName = #autoLOC_910048 // Kerbin (Stock)
			description = #aspLOC_000068
			//Kerbin from Dres should be as hard as Dres from Kerbin, maybe with more difficult landings.
			ScienceValues
			{
				landedDataValue = 8.5
				splashedDataValue = 8.5
				flyingLowDataValue = 7.5
				flyingHighDataValue = 7
				inSpaceLowDataValue = 7
				inSpaceHighDataValue = 6
				recoveryValue = 6

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 250000
			}
		}
		ScaledVersion
		{

		}
		Atmosphere
		{

		}
		PQS
		{
			Mods
			{
				//Put the stock KSC peninsula back
				//OK if FlattenArea doesn't work, let's try this.
				MapDecalTangent
				{
					absolute = True
					absoluteOffset = 0
					angle = 220
					cullBlack = False
					DEBUG_HighlightInclusion = False
					heightMap = BUILTIN/ksc_decal_heightMap
					heightMapDeformity = 70
					position = 157000,-3000,-570000
					removeScatter = True
					radius = 7500
					smoothColor = 0
					smoothHeight = 0
					useAlphaHeightSmoothing = True
					order = 99999
					enabled = True
					name = BinKSCPeninsula
				}
				//Much better. This works.
				//As long as we're looking at putting stock terrain back...
				MapDecalTangent
				{
					absolute = True
					absoluteOffset = -85
					angle = 110
					cullBlack = True
					DEBUG_HighlightInclusion = False
					heightMap = BUILTIN/island_runway_decal_heightmap
					heightMapDeformity = 200
					position = 186100,-15810,-570000
					removeScatter = True
					radius = 1200
					smoothColor = 0.125
					smoothHeight = 0.2
					useAlphaHeightSmoothing = True
					order = 9999
					enabled = True
					name = BinIslandAirfield
				}
			}
		}
		Ocean
		{

		}
	}

	@Body[Mun]
	{
		@Orbit
		{
			@referenceBody = Bin
		}
		@Properties
		{
			%description = #aspLOC_000065 //The Mun is a large satellite orbiting Novo Kerbin. It is mostly gray in appearance, with craters of various sizes dotting its otherwise smooth surface. Sounds very familiar.
			@ScienceValues
			{
				landedDataValue = 8
				inSpaceLowDataValue = 7
				inSpaceHighDataValue = 5
				recoveryValue = 5
			}
		}
	}

	@Body[Minmus]
	{
		@Orbit
		{
			@referenceBody = Bin
		}
		@Properties
		{
			%description = #aspLOC_000066 //Minmus is the smallest moon orbiting Novo Kerbin. It is often mistaken as dirt on the telescope lenses or dead pixels but the top minds at the Kerbal Astronomical Society assure us that it is a real moon never the less.
			@ScienceValues
			{
				landedDataValue = 9
				inSpaceLowDataValue = 7
				inSpaceHighDataValue = 5
				recoveryValue = 6
			}
		}
	}

	@Body[Kerbin]
	{
		cbNameLater = Dres
		@Template
		{
			@name = Dres
		}
		cacheFile = AlienSpacePrograms/0Miscellany/Cache/DresKerbin.bin
		%Debug
		{
			update = true
		}
		@Properties
		{
			description = #aspLOC_000069 //Dres is a very small planet; the first considered to be a dwarf. Its orbit is highly irregular and together with its size it took a long time to discover since half the time it was not where scientists expected to find a planet. Due to its nature of frequenting the bad parts of space, this dwarf planet was officially labeled as "Not to be trusted" by the scientific community.
			displayName = #autoLOC_910043 //Dres (Stock)
			isHomeWorld = True
			@ScienceValues
			{
				landedDataValue = 0.4
				splashedDataValue = 0.4
				flyingLowDataValue = 0.7
				flyingHighDataValue = 0.9
				inSpaceLowDataValue = 1
				inSpaceHighDataValue = 2
				recoveryValue = 1
			}
		}
		@Atmosphere
		{
			enabled = true
			oxygen = false
			altitude = 1000
			staticPressureASL = 101.325
			addAFG = false
			pressureCurve
			{
				key = 0.0 0.001 0 0
				key = 1000 0 0 0
			}
		}
		@Orbit
		{

		}
		SpaceCenter
		{
			//PQSCity
			latitude = 1
			longitude = 51.49
			lodvisibleRangeMult = 6
			repositionToSphereSurface = true
			repositionToSphereSurfaceAddHeight = true
			repositionRadiusOffset = -20
			//Fix added for induced rotation
			reorientToSphere = true  //This
			reorientFinalAngle = -141  //And this

			// MapDecal 
			decalLatitude = 1
			decalLongitude = 51.49
			heightMapDeformity = 900
			absoluteOffset = 0
			absolute = true
			radius = 4000

			// Ground Materials
			groundColor = .091, .0851, 0.069, 0.5
			groundTexture = BUILTIN/ksc_exterior_terrain_ground
		}
		@ScaledVersion
		{

		}
		@PQS
		{
			Mods
			{
				City2
				{
					snapToSurface = True
					alt = 5325.521280307119
					lat = 80.952716674933939
					lon = -143.14467131266403
					objectName = Northern Ridge
					up = 0,1,0
					rotation = 0
					snapHeightOffset = 7
					commnetStation = True
					isKSC = False
					order = 100
					enabled = True
					name = CommNetDish
					LOD
					{
						Value
						{
							visibleRange = 30000
							keepActive = False
							model = BUILTIN/dish1
							scale = 5,5,5
							delete = False
						}
					}
				}
				City2
				{
					snapToSurface = True
					alt = 4435.4395559526747
					lat = -80.479840595966778
					lon = -104.84608746716289
					objectName = Southern Highlands
					up = 0,1,0
					rotation = 0
					snapHeightOffset = 7
					commnetStation = True
					isKSC = False
					order = 100
					enabled = True
					name = CommNetDish
					LOD
					{
						Value
						{
							visibleRange = 30000
							keepActive = False
							model = BUILTIN/dish1
							scale = 5,5,5
							delete = False
						}
					}
				}
			}
		}
	}

	@Asteroid
	{
		@Locations
		{
			@Around
			{
				//Standard Kopernicus only has one Around Body node, and it's for Dres.
				//We'll just make some of these easier to reach.
				@Body
				{
					@semiMajorAxis
					{
						@minValue = 381339
						@maxValue = 20606775
					}
					%probability = 40
					%reached = false
				}
			}
		}
	}

	//Science balancing
	@Body[Sun]
	{
		@Properties
		{
			%description = #aspLOC_000062 //The Sun is the literal star of the Kerbol system. Scientists have noted a particular burning sensation and potential loss of vision if it is stared at for long periods of time. This is especially important to keep in mind considering the effect shiny objects have on the average Kerbal.
			//High sun is easy. Low sun from Dres? That's harder.
			@ScienceValues
			{
				inSpaceLowDataValue = 11
				inSpaceHighDataValue = 2
				recoveryValue = 4
			}
		}
		@ScaledVersion
		{
			Light
			{
				//Adjust luminosity to rebalance solar panel power (Dres)
				//It's probably not actually following the inverse square law; I can check later.
				luminosity = 118.1395
			}
		}
	}
	@Body[Moho]
	{
		@Properties
		{
			%description = #aspLOC_000063 //Moho is named after a fiery place in Kerbal mythology with oceans of flowing lava. In reality, however, it's much less interesting. Scientists speculate about possible ways to make it awesome like in the stories. 
			//Should be really hard to get to, but just as easy to land in Stock.
			@ScienceValues
			{
				landedDataValue = 9
				inSpaceLowDataValue = 14
				inSpaceHighDataValue = 13
				recoveryValue = 7
			}
		}
	}
	@Body[Eve]
	{
		@Properties
		{
			%description = #autoLOC_900103 //Eve is certainly the purplest object in the solar system. Its one of the larger, most visible objects, mainly because of its very, very purple tint. \n\nIt is considered by some to be an almost sister planet to Kerbin. Well, despite the purple, and the toxic atmosphere, and the extreme pressures and temperatures... Actually, it’s not very similar at all is it? Who are these people?
			//Consider approaching Dres from Kerbin, then add even more trouble on the ground.
			@ScienceValues
			{
				landedDataValue = 15
				splashedDataValue = 15
				flyingLowDataValue = 11
				flyingHighDataValue = 10
				inSpaceLowDataValue = 9
				inSpaceHighDataValue = 8
				recoveryValue = 8
			}
		}
	}
	@Body[Gilly]
	{
		@Properties
		{
			%description = #aspLOC_000064 //Gilly is a lumpy rock wandering around the orbit of Eve. Due to the large amount of squinting and eye strain associated with its discovery, wearing glasses has now become synonymous with becoming an accomplished Astronomer.
		}
	}

	@Body[Duna]
	{
		@Properties
		{
			description = #aspLOC_000067 //Duna is the fourth planet from its sun and the fourth-largest planet in its system. The planet is held in much awe due to its striking red color and stark contrast to the color grey. 
			//This should be similar to approaching Dres from Kerbin, but less harsh on the ground.
			@ScienceValues
			{
				landedDataValue = 8
				flyingLowDataValue = 7.5
				flyingHighDataValue = 7
				inSpaceLowDataValue = 7
				inSpaceHighDataValue = 6
				recoveryValue = 7
			}
		}
	}
}
