@Kopernicus:HAS[!AlienSpaceProgramSettings]:FOR[JoolSpaceProgram]
{
	#@AlienSpaceProgramSettings {}
}
@Kopernicus:HAS[@AlienSpaceProgramSettings:HAS[#Homeworld[Jool]]]:FOR[JoolSpaceProgram]
{
	!Body[Jool]{}

	%Body[Bin]
	{
		//name = Bin
		//Legacy cbNameLater, needed for some mods
		cbNameLater = Bin
		cacheFile = AlienSpacePrograms/0Miscellany/Cache/WildKerbin.bin
		Debug
		{
			update = true
		}

		Orbit
		{
			referenceBody = Sun
		}

		Template
		{
			name = Kerbin
			//Remove easter eggs, KSC and KSC2 (City), and ground stations (City2)
			//Later I'll try to keep City and just edit KSC and KSC2 to not be ground stations
			removePQSMods = PQSCity,PQSMod_MapDecal,PQSMod_MapDecalTangent,PQSCity2
		}
		Properties
		{
			//displayName replaces cbNameLater for localization support
			//Still works in KSP 1.2 though
			isHomeWorld = False
			displayName = #autoLOC_910048 // Kerbin (Stock)
			description = #aspLOC_000037 //A unique world, Bin has flat plains, soaring mountains and wide, blue oceans. With over 60% of its surface covered in water, an oxygenated atmosphere, and its close distance to the sun, Kerbin would seem to be perfect for Kerbal life. So why, then, are we on Duna?
		}
		ScaledVersion
		{

		}
		Atmosphere
		{

		}
		PQS
		{

		}
		Ocean
		{

		}
	}

	@Body[Mun]
	{
		@Orbit
		{
			@referenceBody = Bin
		}
		@Properties
		{
			%description = #aspLOC_000010 //The Mun is a large satellite orbiting Bin. It is mostly gray in appearance, with craters of various sizes dotting its otherwise smooth surface. It was the first moon of another planet to be discovered due to its relatively large size. Sometimes, Mun can be seen as a separate point of light in the sky next to Bin.
			%displayName = #aspLOC_000011 //Mun
		}
	}

	@Body[Minmus]
	{
		@Orbit
		{
			@referenceBody = Bin
		}
		@Properties
		{
			%description = #aspLOC_000012 //Minmus is the smallest moon orbiting Bin. Due to the large amount of squinting and eye strain associated with its discovery, wearing glasses has become synonymous with being an accomplished astronomer.
		}
	}

	@Body[Kerbin]
	{
		%cbNameLater = Jool
		%cacheFile = AlienSpacePrograms/0Miscellany/Cache/JoolKerbin.bin
		Debug
		{
			update = true
		}
		@Template
		{
			%name = Jool
		}
		@Properties
		{
			%description = #aspLOC_000024 //Jool is a unique world in the Kerbol System. It is the largest of the planets, only the Sun itself (small though it appears in the sky) answers to Jool's might. Jool is home to a wide variety of biodiversity, including the Hunters, Sinkers, Floaters, and of course the Kerbals. With seemingly just the right chemical makeup to make life impossible, it is only around the Pillars of Meander that any nutrients can be taken from the otherwise surfaceless giant planet. It is often said that he who can get their spacecraft into orbit around Jool is almost all the way to anywhere, by virtue of its three large moons.
			%displayName = #autoLOC_910041 
			%isHomeWorld = True
			@ScienceValues
			{
				%landedDataValue = 30
				%splashedDataValue = 1
				%flyingLowDataValue = 12
				%flyingHighDataValue = 9
				%inSpaceLowDataValue = 7
				%inSpaceHighDataValue = 6
				%recoveryValue = 6
				%flyingAltitudeThreshold = 200000
				%spaceAltitudeThreshold = 4000000
			}
			//Added Jool biome map from KSPSnark, Jool Biomes
			//https://github.com/KSPSnark/JoolBiomes
			//MIT license
			//Otherwise, Jool was using the Kerbin biome map, which makes no sense.
			biomeMap = AlienSpacePrograms/Jool/PluginData/JoolBiome-GGS.png
			Biomes
			{
				Biome
				{
					name = EquatorialCloudBelt
					displayName = #aspLOC_000025 
					value = 1.0
					color = 1,0,0,1
				}
				Biome
				{
					name = TemperateCloudBelt
					displayName = #aspLOC_000026 
					value = 1.0
					color = 0.25,0.25,0.25,1
				}
				Biome
				{
					name = PolarCloudBelt
					displayName = #aspLOC_000027 
					value = 1.0
					color = 0,0,1,1
				}
				Biome
				{
					name = GreatGreenSpot
					displayName = #aspLOC_000028 
					value = 1.0
					color = 0,1,0,1
				}
			}
		}
		@Orbit
		{
			referenceBody = Sun
		}
		@Atmosphere
		{
		}
		@ScaledVersion
		{
		}
		SpaceCenter
		{
			//PQSCity
			latitude = 0
			longitude = 0
			lodvisibleRangeMult = 6
			repositionToSphereSurface = true
			repositionToSphereSurfaceAddHeight = true
			repositionRadiusOffset = -20
			reorientToSphere = true  
			reorientFinalAngle = -90
			
			//MapDecal 
			decalLatitude = 0
			decalLongitude = 0
			heightMapDeformity = 80000
			absoluteOffset = 0
			absolute = true
			radius = 100000

			//Ground Materials
			groundColor = RGBA(51,88,31,55)
			groundTexture = BUILTIN/cloud_normal
		}
		//Stock Jook doesn't have a surface. This does.
		@PQS
		{
			maxQuadLengthsPerFrame = 0.03
			minLevel = 2
			maxLevel = 10
			minDetailDistance = 8
			Mods
			{			   
			    VertexSimplexNoiseColor
			    {
			        seed = 111
			        blend = 1.0
			        colorStart = 0.13, 0.0, 0.0, 1.0
			        colorEnd = 0.6, 0.6, 0.7, 1.0
			        octaves = 6.0
			        persistence = 0.5
			        frequency = 3
			        enabled = true
			        order = 100
			    }
			    // A name = value must be entered, as we use this mod twice on the same body
			    //
			    // Lets call this one Base
			    VertexSimplexHeightAbsolute
			    {
			        name = Base
			        seed = 222
			        deformity = 10000
			        octaves = 3
			        persistence = 0.75
			        frequency = 0.5
			        enabled = true
			        order = 5
			    }
			    // And let's call this one Ridges
			    VertexSimplexHeightAbsolute
			    {
			        name = Ridges
			        seed = 111
			        deformity = 5000
			        octaves = 6
			        persistence = 0.5
			        frequency = 3
			        enabled = true
			        order = 10
			    }
			    VertexHeightNoise
			    {
			        noiseType = RiggedMultifractal
			        deformity = 200
			        seed = 111
			        frequency = 3
			        lacunarity = 2.5
			        persistance = 0.5
			        octaves = 6
			        mode = Low
			        enabled = true
			        order = 19
			    }
			}
		}
	}
	@Body[Laythe]
	{
		@Orbit
		{
			@referenceBody = Kerbin
		}
	}
	@Body[Vall]
	{
		@Orbit
		{
			@referenceBody = Kerbin
		}
	}
	@Body[Tylo]
	{
		@Orbit
		{
			@referenceBody = Kerbin
		}
	}
	@Body[Bop]
	{
		@Orbit
		{
			@referenceBody = Kerbin
		}
	}
	@Body[Pol]
	{
		@Orbit
		{
			@referenceBody = Kerbin
		}
		@Properties
		{
			%description = #aspLOC_000015 //Pol is the fifth and final known moon of Jool. It is very rarely visible due to its smallsize, and is often mistaken for a particularly buoyant sinker.
		}
	}
	@Body[Sun]
	{
		@Properties
		{
			//High sun is easy. Low sun from Jool? That's hard.
			@ScienceValues
			{
				inSpaceLowDataValue = 12
				inSpaceHighDataValue = 2
				recoveryValue = 4
			}
		}
		@ScaledVersion
		{
			Light
			{
				//Adjust luminosity to rebalance solar panel power
				//It's probably not actually following the inverse square law; I can check later.
				luminosity = 60.01686
			}
		}
	}
}