@Kopernicus:HAS[!AlienSpaceProgramSettings]:FOR[LaytheSpaceProgram]
{
	#@AlienSpaceProgramSettings {}
}
@Kopernicus:HAS[@AlienSpaceProgramSettings:HAS[#Homeworld[Laythe]]]:FOR[LaytheSpaceProgram]
{
	@Body[Sun]
	{
		@Properties
		{
			//High sun is easy. Low sun from Jool? That's hard.
			@ScienceValues
			{
				inSpaceLowDataValue = 12
				inSpaceHighDataValue = 2
				recoveryValue = 4

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 1E+09
			}
		}
	}

	@Body[Moho]
	{
		@Properties
		{
			//Should be really hard to get to, but just as easy to land in Stock.
			@ScienceValues
			{
				landedDataValue = 10
				inSpaceLowDataValue = 15
				inSpaceHighDataValue = 14
				recoveryValue = 7

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 80000
			}
		}
	}

	@Body[Eve]
	{
		@Properties
		{
			%description = #aspLOC_000029 //Eve is certainly the purplest object in the solar system. It's one of the more visible objects outside of the Joolean system in the sky. It was first suspected to be a purple sister planet to Bin, but new research suggests that it may be nothing like Bin at all!
			//Consider approaching Laythe from Kerbin, then add even more trouble on the ground.
			@ScienceValues
			{
				landedDataValue = 15
				splashedDataValue = 15
				flyingLowDataValue = 11
				flyingHighDataValue = 10
				inSpaceLowDataValue = 9
				inSpaceHighDataValue = 8
				recoveryValue = 8

				flyingAltitudeThreshold = 22000
				spaceAltitudeThreshold = 400000
			}
		}
	}

	@Body[Duna]
	{
		@Properties
		{
			//This should be similar to approaching Jool from Kerbin, but less harsh on the ground.
			@ScienceValues
			{
				landedDataValue = 10
				flyingLowDataValue = 10
				flyingHighDataValue = 9
				inSpaceLowDataValue = 7
				inSpaceHighDataValue = 6
				recoveryValue = 8

				flyingAltitudeThreshold = 12000
				spaceAltitudeThreshold = 140000
			}
		}
	}

	@Body[Ike]
	{
		@Properties
		{
			//Similar risk-reward to Duna above with Mun values on the ground.
			@ScienceValues
			{
				landedDataValue = 11
				inSpaceLowDataValue = 9
				inSpaceHighDataValue = 8
				recoveryValue = 8

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 50000
			}
		}
	}

	//Kerbin's description is in LaytheSpaceProgram.cfg
	@Body[Mun]
	{
		@Orbit
		{
			%referenceBody = Bin
		}
		@Properties
		{
			%description = #aspLOC_000017 //The Mun is a large satellite orbiting Bin. It is mostly gray in appearance, with craters of various sizes dotting its otherwise smooth surface. It was the first moon of another planet to be discovered due to its relatively large size. Sometimes, the Mun can be seen as a separate point of light in the sky next to Bin.
			//What is Vall like to approach from Kerbin?
			//Consider distances involved.
			%displayName = #aspLOC_000011 //Mun
			@ScienceValues
			{
				landedDataValue = 12
				inSpaceLowDataValue = 9
				inSpaceHighDataValue = 8
				recoveryValue = 8

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 60000
			}
		}
	}

	@Body[Minmus]
	{
		@Orbit
		{
			%referenceBody = Bin
		}
		@Properties
		{
			%description = #aspLOC_000018 //Minmus is the smallest moon orbiting Bin. There is an ongoing debate about whether or not Minmus is made out of ice, rocks, mint pudding, or bleu cheese.
			//Consider approaching Pol from Kerbin.
			//Greg here, I would say it's actually more analogous to approaching Bop, as the two are more similar in size and mass.
			@ScienceValues
			{
				landedDataValue = 12
				inSpaceLowDataValue = 9
				inSpaceHighDataValue = 8
				recoveryValue = 8

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 22000
			}
		}
	}

	@Body[Jool]
	{
		@Properties
		{
			%description = #aspLOC_000030 //Jool was the very first celestial object discovered by Kerbalkind. Its bright green color stood out in the night sky but was not too hard to look at unlike the Sun. Life likely owes its existence to Jool. Without its huge gravity well to keep Laythe locked in a stable orbit, there's surely no way that life could ever develop. Fringe scientists posit that life could develop anywhere where there's liquid water, but this is just absurd.
			//These are 75% of stock Mun values in space, 50% of stock Jool values in atmosphere.
			//Jool's dead easy to get to from here.
			@ScienceValues
			{
				//If you can land on Jool, you deserve this multiplier. :-)
				landedDataValue = 80
				splashedDataValue = 1
				flyingLowDataValue = 6
				flyingHighDataValue = 4.5
				inSpaceLowDataValue = 2
				inSpaceHighDataValue = 1.5
				recoveryValue = 1.5

				flyingAltitudeThreshold = 120000
				spaceAltitudeThreshold = 4000000
			}
		}
	}

	//Laythe's description is in LaytheSpaceProgram.cfg
	@Body[Vall]
	{
		@Properties
		{
			%description = #aspLOC_000031 //Vall is a medium sized chunk of ice orbiting Jool. It may have an underwater ocean. If so, it's possible that ocean may have life brought from Laythe to Vall by swapping meteorites. Panspermia is a heck of a thing.
			//Vall should present Minmus-like challenges in space, but Duna-like challenges on the surface.
			@ScienceValues
			{
				landedDataValue = 8
				inSpaceLowDataValue = 4
				inSpaceHighDataValue = 3.5
				recoveryValue = 3.5

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 90000
			}
		}
	}

	@Body[Tylo]
	{
		@Properties
		{
			%description = #aspLOC_000020 //Tylo is the largest moon orbiting Jool. It is white with large brown craters dotting the surface. Tylo's discovery is widely regarded as one of the more important breakthroughs of Kerbal evolution. Granted it didn't happen all that long ago, but its still fair to say that Kerbals are wiser and more evolved now than they were back then.
			//High escape velocity and no air should mean Eve-like challenges on the surface, but Mun/Minmus-like in space.
			@ScienceValues
			{
				landedDataValue = 11
				inSpaceLowDataValue = 5
				inSpaceHighDataValue = 4
				recoveryValue = 6

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 250000
			}
		}
	}

	@Body[Bop]
	{
		@Properties
		{
			%description = #aspLOC_000032 //Bop is the second smallest moon orbiting Jool. From the surface of Laythe, it can sometimes be seen on clear days as a tiny brown speck in the sky. It is often mistaken as dirt on the telescope lenses or dead pixels, but the top minds at the Kerbal Astronomical Society assure us that it is a real moon nevertheless.
			//Bop's orbital plane should make approach tough, and rewarding.
			//Dres-like in space, Minmus-like on the surface.
			@ScienceValues
			{
				landedDataValue = 5
				inSpaceLowDataValue = 7
				inSpaceHighDataValue = 6
				recoveryValue = 7

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 25000
			}
		}
	}

	@Body[Pol]
	{
		@Properties
		{
			%description = #aspLOC_000033 //The hardest to spot object that was known since antiquity, Pol is rather difficult to see on account of its small size, especially when you're using a telescope near a dusty field.
			//Gilly-like on the surface, and somewhat easier to approach than Bop.
			@ScienceValues
			{
				landedDataValue = 6
				inSpaceLowDataValue = 6
				inSpaceHighDataValue = 5
				recoveryValue = 7

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 22000
			}
		}
	}

	@Body[Eeloo]
	{
		@Properties
		{
			//Easy to get to for the patient player. Maybe a little tougher than Dres from Kerbin due to inclination.
			@ScienceValues
			{
				landedDataValue = 9
				inSpaceLowDataValue = 8
				inSpaceHighDataValue = 7
				recoveryValue = 8

				flyingAltitudeThreshold = 18000
				spaceAltitudeThreshold = 60000
			}
		}
	}
}
